body {
    background-color: black;
    color: white;
}

#commandHistory {
    background-color: #2b2b2b;
    padding: 10px;
    height: 200px;
    overflow: auto;
    color: lime;
}

#commandForm {
    background-color: #2b2b2b;
    padding: 10px;
}

#commandForm input[type="text"] {
    width: 100%;
    color: lime;
    background-color: black;
}

#commandForm input[type="submit"] {
    color: lime;
    background-color: black;
}

#output {
    color: lime;
}

#downloadDb {
    color: lime;
    padding: 10px 20px;
    background-color: black;
    background: linear-gradient(to bottom, #333, #000);
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0px 5px 0px 0px #0a0a0a, 0px 10px 5px #999;
    transition: all 0.1s ease-in-out;
  }
  
  #downloadDb:active {
    box-shadow: 0px 2px 0px 0px #0a0a0a, 0px 2px 2px #999;
    position: relative;
    top: 3px;
  }
